[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Code from the Engineer Man YouTube channel
[access "refs/*"]
	owner = group user/Rachit Srivastava (thisisrachit)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Rachit Srivastava (thisisrachit)
	label-Verified = -1..+1 group user/Rachit Srivastava (thisisrachit)
	push = group user/Rachit Srivastava (thisisrachit)
	read = group user/Rachit Srivastava (thisisrachit)
	rebase = group user/Rachit Srivastava (thisisrachit)
	removeReviewer = group user/Rachit Srivastava (thisisrachit)
	submit = group user/Rachit Srivastava (thisisrachit)
[access "refs/heads/*"]
	create = group user/Rachit Srivastava (thisisrachit)
	push = +force group user/Rachit Srivastava (thisisrachit)
	pushMerge = group user/Rachit Srivastava (thisisrachit)
	read = group user/Rachit Srivastava (thisisrachit)
[access "refs/tags/*"]
	push = group user/Rachit Srivastava (thisisrachit)
	push = +force group user/Rachit Srivastava (thisisrachit)
